body{
    margin: 0px;
    padding: 0px;
    border: 0px;
}
#main{
    position: absolute;
    top: 0;
    bottom: 0;

    background-image: url("Soda/assets/img.png");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;

    height: auto;
    width: 100%;

    
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    align-items: center;
}
model-viewer{
    width: 350px;
    height: 600px;
    margin: auto;    
}
